.btn {
    @apply flex items-center justify-center text-base cursor-pointer font-medium h-10 px-4 py-2 rounded gap-2 border border-transparent;

    transition: all ease-in 0.2s;

    &.btn-primary {
        @apply bg-[var(--color-primary)] text-white hover:bg-black hover:text-white;
    }

    &.btn-danger {
        @apply bg-[var(--color-error)] text-white hover:bg-[var(--color-error-dark)] hover:text-white;
    }

    &.btn-success {
        @apply bg-[var(--color-success)] text-white hover:bg-[var(--color-success-dark)] hover:text-white;
    }

    &.btn-secondary {
        @apply bg-gray-100 border-gray-400 border-2 text-[var(--color-primary-dark)] hover:bg-gray-400 hover:text-white hover:border-black;
    }

    &.btn-large {
        @apply text-xl h-14 px-8;

        .btn-icon {
            svg {
                @apply w-6 h-6;
            }
        }
    }

    &.btn-small {
        @apply h-8;

        .btn-icon {
            svg {
                @apply w-4 h-4;
            }
        }
    }

    &.btn-disabled {
        @apply bg-gray-400 text-black/50;
    }

    &.btn-link {
        @apply inline-flex p-0 w-auto h-auto text-[var(--color-primary)] hover:text-black hover:underline;
    }

    .btn-icon {
        @apply flex items-center;

        svg {
            @apply w-5 h-5;
        }
    }

    .loading {
        @apply flex;

        animation: rotation linear infinite;
        animation-duration: 1s;

        @keyframes rotation {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    }
}
